jenkins {
    version {
        artifactPattern = 'http://ftp-nyc.osuosl.org/pub/jenkins/war/[revision]/[module].[ext]'
        artifact = ":jenkins:2.112@war"
    }
}

startupScripts=[
    nexus: [
        artifactPattern: 'https://dl.bintray.com/buildit/maven/digital/buildit/[organisation]/[module]/[revision]/[module]-[revision].[ext]',
        artifacts: ["com.buildit.jenkins:jenkins-startup-scripts:1.0.0@zip"]
    ]
]

libraries=[
        'buildit':['defaultVersion':'master', 'implicit':true, 'allowVersionOverride':true, 'scm':[branch: 'master', url:'https://github.com/buildit/jenkins-pipeline-libraries.git']],
]